@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*GENERAL*/

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
}
html {
    scroll-behavior: smooth;
    background: #f0f0f5;
}
p {
    color: rgb(85, 85, 85);
}
a, .button {
    transition: all 300ms ease;
}
.Section_Picture_Edit{
    width: 400px;
    border-radius: 200px 200px;
}
.Section_Picture_Edit {
    position: relative;
    animation: slideRight 1.5s ease-out forwards;
    opacity: 0; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 10);
}

/*LOGO*/

.logo {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
    cursor: none;
}

@keyframes slideRight {
    0% {
      left: -100px;
      opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
    }
}

/*LINKS*/

.links{
    color: rgb(53, 53, 53);
    display: inline-block;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s ease;
    border-bottom: 3px solid transparent;
    text-decoration-line: none;
    text-shadow: #4c00ff;
}
.link_1{
    color: rgb(4, 0, 255);
    display: inline-block;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s ease;
    border-bottom: 3px solid transparent;
    text-decoration-line: none;
    text-shadow: #4c00ff;
}
.links:hover,.link_1:hover{
    color: #4c00ff;
    border-bottom: 3px solid #4c00ff;
    transform: scale(1.1);
}

.nav_links {
    gap: 1.5rem;
    list-style: none;
    font-size: 2rem;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}

.manu_links{
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: #f0f0f5;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
.manu_links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: #1f1f1f;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.manu_links li {
    list-style: none;
}
.manu_links.open{
    max-height: 300px;
}

/*NAVIGATION*/

#desktop_nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    top: 0;
    left: 0;
    z-index: 999;
}

nav {
    align-items: center;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}


/*HAMBURGER_MANU*/

#hamburger_nav{
    display: none;
    padding-right: 50px;
}
.hamburger_manu{
    position: relative;
    display: inline-block;
}
.hamburger_icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}
.hamburger_icon span{
    width: 100%;
    height: 2px;
    background-color: #1f1f1f;
    transition: all 0.3 ease-in-out;
}

.hamburger_icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger_icon.open span:nth-child(2){
    opacity: 0;
}
.hamburger_icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger_icon span:first-child{
    transform: none;
}
.hamburger_icon span:first-child{
    opacity: 1;
}
.hamburger_icon span:first-child{
    transform: none;
}

/*Profile*/

.Section_Container{
    display: flex;
}
#Profile{
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding-top: 4vh;
    height: 96vh;
    margin: 0 20rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.Sign{
    
    display: grid;
    place-items: auto ;
    justify-content: space-around;
}
#Signature {
    stroke-dasharray: 2539;
    stroke-dashoffset: 2539;
    animation: 2.5s sign linear forwards;
}
@keyframes sign {
    0% {
        stroke-dashoffset: 2539;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
.Section_Text_P1{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.Section_Text_P2{
    font-size: 2rem;
}
.Social_Container{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}
.Icon{
    cursor: pointer;
    height: 2.5rem;
    transition: 0.5s ease;
    margin-top: 1rem;
    gap: 1rem;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    justify-content: space-between;
}
.Icon:hover{
    color: #4c00ff;
    border-bottom: 3px solid #4c00ff;
    transform: scale(1.1);
    
}
.Btn_Container{
    display: flex;
    gap: 1rem;
}
.Btn{
    font-weight: 700;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
.Btn_Colour-1, .Btn_Colour-2{
    border: rgb(53, 53, 53) 0.1rem solid;
}
.Btn_Colour-1:hover, .Btn_Colour-2:hover{
    cursor: pointer;
}
.Btn_Colour-1, .Btn_Colour-2:hover{
    background: rgb(53, 53, 53);
    color: white;
}
.Btn_Colour-1:hover{
    background: rgb(0, 0, 0);
}
.Btn_Colour-2{
    background: none;
}
.Btn_Colour-2:hover{
    border: rgb(255, 255, 255) 0.1rem solid;
}

/*About*/

.About{
    margin: 0 20rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.About_Text_P1{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}
.About_Title{
    font-size: 3rem;
    text-align: center;
}
.About-Image{
    width: 400px;
}
.About-Container{
    display: flex;
}